/* =global */
* {
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.form-control:focus { 
    border-color: inherit; 
    -webkit-box-shadow: none; 
    box-shadow: none; 
}
/*—————*/


/* =header */
.main-header {
    z-index: 2;
}

.login-register-area,
.login-register-line {
    background-color: black;
}

.login-register-line {
    margin: 0 200px;
}

.login-register-line>a,
.login-register-line>p {
    color: white;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 10px;
    padding: 3px 0;
}

.login-register-line>a:hover {
    color: rgb(212, 212, 212);
}

.navbar {
    height: 85px;
    margin: 0 180px;
    padding: 0 16px;
}

.navbar-toggler {
    padding-right: 0;
}

.navbar-toggler-icon {
    background: url(//cdn.shopify.com/s/files/1/1132/3440/t/4/assets/nav.svg?v=13525773726332029513) no-repeat left 0 center;
}

.mobile-cart {
    display: none;
    background: url(//cdn.shopify.com/s/files/1/1132/3440/t/4/assets/cart.svg?v=13382465955315071298) no-repeat left 0 center;
    height: 35px;
    width: 27px;
}

.navbar-nav {
    background-color: white;
}

.logo {
    color: black;
    font-size: 60px;
}

.logo:hover {
    color: black;
}

.nav-link {
    color: black;
    font-size: 0.9em;
    margin-left: 30px;
}

.nav-link:hover {
    color: black;
}
/*—————*/


/* =main */
.cart-background {
    background-color: rgba(194, 191, 191, 0.8);
    display: none;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: 2;
}

.cart-area {
    display: none;
    top: 0;
}

.cart {
    box-shadow: 0px 0px 50px 14px rgba(0,0,0,0.2);
    margin-top: 50px;
    z-index: 3;
}

.cart-title {
    padding-left: 50px;
}

.close-button {
    font-size: 1.6em;
}

.cart-line {
    border-top: 1px solid black;
}

.size-color {
    font-size: 0.9em;
}

.remove-button {
    color: rgb(170, 170, 170);
    font-size: 0.8em;
}

.remove-button:hover {
    color: rgb(170, 170, 170);
}

.sale-info>p {
    font-size: 1.5em;
}

#checkOutForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-special-instructions {
    border: 1px solid black;
    border-radius: 2px;
}

.subtotal-text {
    font-size: 0.8em;
}

.check-out-button {
    background-color: black;
    border-radius: 0px;
    color: white;
}

.check-out-button:hover {
    color: white;
}
/*—————*/


/* =footer */
.footer {
    bottom: 65px;
    margin: 0 185px;
    position: relative;
}

.footer-line {
    border-top: 1px solid grey;
}

.customer-care-links>li>a {
    color: rgb(70, 70, 70);
    font-size: 0.8em;
}

.fa-facebook-square,
.fa-instagram-square {
    color: black;
    height: 24px;
}

.newsletter-input,
.newsletter-input:focus {
    background-color: rgb(243, 243, 243);
}

.newsletter-button {
    background-color: black;
    color: white;
}

.newsletter-button:hover {
    color: white;
}
/*—————*/


/* =media queries */
@media (max-width: 1400px) {
    .login-register-line {
        margin: 0 150px;
    }

    .navbar {
        margin: 0 130px;
    }

    .footer {
        margin: 0 135px;
    }
}

@media (max-width: 1300px) {
    .login-register-line {
        margin: 0 100px;
    }

    .navbar {
        margin: 0 80px;
    }

    .parallax {
        background-attachment: scroll;
    }

    .footer {
        margin: 0 85px;
    }
}

@media (max-width: 1200px) {
    .login-register-line {
        margin: 0 50px;
    }

    .navbar {
        margin: 0 30px;
    }

    .footer {
        margin: 0 35px
    }
}

@media (max-width: 991px) {
    .navbar-brand {
        margin: auto;
        height: 85px;
        padding: 0;
    }

    .navbar-collapse {
        position: relative;
        left: 46px;
    }

    .mobile-cart {
        display: block;
    }
}

@media (max-width: 480px) {
    .sale-info>p {
        font-size: 1.0em;
    }
}
/*—————*/